<h1>Welcome to MiniSubmarine!</h1>
<div class="content">
  <img src="/img/submarine.jpeg">
</div>
<div class="container title">
<button><a href="/signin">Log in</a></button><br><br>
  <button><a href="/signup">Sign up</a></button><br><br>
  <button><a href="/records">Records</a></button><br><br<
</div>


  

