<h1>Winners Record</h1>

<div class="centerTable">
  <table class="hovertable">
    <!-- ¿Qué va en esta parte para mostrar la lista de ganadores? -->
    
      <tr>
      <th>Player</th>
      <th>Games won</th>
    </tr>
    <% users = User.first(10).reverse %>
    <% users.each do |user| %>
   
      <% user.games.each do |gam| %>
          <tr>
            <td><%= user.name%></td>
            <td><%=  gam.submarino  %></td>
          </tr>
        <% end %>
<% end %>
    
  </table>
</div>

<aside>
  <h3></h3>
  <form method="post" action="/new_game">
    <input type="submit" value="Play">
  </form>
</aside>